<!-- IF U_DL_NAVI --><li class="small-icon icon-download responsive-menu"><a role="menuitem" title="{L_DOWNLOADS}" href="{U_DL_NAVI}">{L_DOWNLOADS}</a></li><!-- ENDIF -->
<!-- IF U_DL_HACKS_LIST --><li class="small-icon icon-acp"><a role="menuitem" title="{L_DL_HACKS_LIST}" href="{U_DL_HACKS_LIST}">{L_DL_HACKS_LIST}</a></li><!-- ENDIF -->
<!-- IF U_DL_BUG_TRACKER --><li class="small-icon icon-acp"><a role="menuitem" title="{L_DL_BUG_TRACKER}" href="{U_DL_BUG_TRACKER}">{L_DL_BUG_TRACKER}</a></li><!-- ENDIF -->
